@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap");
@import "reset.css";
@import "variables.css";

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

body {
  font-family: var(--main-font);
  color: white;
}

#bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(3px);
}

#clock {
  display: flex;
  font-size: 130px;
  justify-content: center;
  margin-top: 35vh;
  font-weight: 400;
}

#login-form {
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
}

#login-form input:first-child {
  background: transparent;
  border: none;
  border-bottom: var(--input-border);
  padding-bottom: 6px;
  height: 40px;
  width: 330px;
  font-size: var(--name-input-fontsize);
  text-align: center;
  margin-right: 5px;
  font-family: var(--main-font);
}

#login-form input:first-child::placeholder {
  color: rgba(255, 255, 255, 0.85);
  font-size: var(--name-input-fontsize);
}

#login-form input:first-child:focus {
  outline: none;
  color: white;
}

#login-form input:last-child {
  border: none;
  background-color: azure;
  margin-left: 10px;
}

#login-form button {
  background: transparent;
  border: none;
  font-size: 23px;
  color: azure;
  cursor: pointer;
  margin-top: 7px;
  opacity: 0.9;
}

#greeting {
  display: flex;
  justify-content: center;
  font-size: 37px;
  margin-top: 30px;
}

#todo-form {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todo-form span {
  margin-top: 50px;
  font-size: 32px;
}

#todo-form input {
  background: transparent;
  margin-top: 10px;
  height: 30px;
  width: 400px;
  text-align: center;
  border: none;
  border-bottom: var(--input-border);
  margin-bottom: 10px;
  font-size: 32px;
  font-family: var(--main-font);
  padding-bottom: 3px;
  color: white;
}

#todo-form input:focus {
  outline: none;
}

#quote {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

#quote span:last-child {
  margin-top: 10px;
  opacity: 0.7;
  font-size: 15px;
}

#todo-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 26px;
  margin-top: 10px;
}

#todo-list li button {
  background: transparent;
  border: none;
  opacity: 0.75;
  margin-top: 4px;
  cursor: pointer;
  font-size: 18px;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px;
}

#weather span:first-child {
  font-size: 26px;
}

#weather span:last-child {
  font-size: 12px;
  margin-top: 4px;
  opacity: 0.85;
}

.status-column {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-column a {
  color: white;
  margin-left: 25px;
  font-size: 19px;
  font-weight: 100;
  text-decoration: none;
}

.fa-magnifying-glass {
  margin-left: 8px;
  opacity: 0.8;
  cursor: pointer;
}

.status-column div input {
  background: transparent;
  border: none;
  border-bottom: var(--input-border);
  margin-left: 4px;
  color: white;
  opacity: 0.8;
}

.status-column div input:focus {
  outline: none;
}

/* addEventListener mouseleave, mouseenter 을 써서 명언 애니메이션 만들기! */
